.content {
    width: 1000px;
    margin: 0 auto;
}
div {
    display: block;
}
div, th, td {
    font-size: 12px;
}
body {
    font-family: 'microsoft yahei';
}
body {
    font-family: 宋体, arial;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    background: rgb(255, 255, 255);
}
.step_con .on {
    color: #fff;
    background: #5abb1f;
}
.step_con li {
    position: relative;
    width:285px;
    float:left;
    height:26px;
    line-height: 26px;
    margin-right: 20px;
    display: inline;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background: #eee;
}
body, h1, h2, h3, h4, h5, h6, p, form, ul, ol, li, dt, dl, dd, th, td, label, bottom, input, textarea {
    margin: 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    list-style-type: disc;
}
.step_con {
    width: 1000px;
    float: left;
    height: 26px;
    margin: 20px 0;
    color: #fff;
    overflow: hidden;
}
div, th, td {
    font-size: 12px;
}
body {
    font-family: 'microsoft yahei';
}
.step_con .on b {
    border-left-color: #5abb1f;
}
.step_con li b {
    width: 0px;
    height: 0px;
    border: 13px solid #fff;
    border-left-color: #eee;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0px;
    right: -21px;
}
b {
    font-weight: bold;
}
.step_con .on {
    color: #fff;
    background: #5abb1f;
}
.form_con {
    width: 940px;
    float: left;
    padding: 15px 19px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    background: #fff;
}
.form_con .tit strong {
    padding-bottom: 2px;
    border-bottom: 2px solid #5abb1f;
    font-family: "microsoft yahei";
    font-size: 20px;
    color: #5abb1f;
    font-weight: normal;
}
strong {
    font-weight: bold;
}
.form_con .tit {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
}
em, i {
    font-style: normal;
}
em {
    font-style: italic;
}
.form_con .txt dd {
    display: block;
    width: 800px;
    margin-left: 110px;
}
.form_con .txt dt {
    width: 100px;
    float: left;
    line-height: 28px;
    text-align: right;
}
dt {
    display: block;
}
.form_con .txt dd strong.title {
    line-height: 28px;
    font-size: 14px;
    color: #5abb1f;
}
.form_con .txt dl {
    clear: both;
    width: 940px;
    padding: 5px 0;
    overflow: hidden;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.form_con .txt dd span.price b {
    font-size: 18px;
}
.form_con .txt dd span.price {
    float: left;
    margin-top: -2px;
    font-family: Arial;
    color: #f70;
}
.operate_num s.disabled {
    border: 1px solid #e6e6e6;
    color: #999;
    background-position: 6px 2px;
    cursor: default;
}
.operate_num s.sub {
    background-position: 6px -14px;
}
.form_con .txt dd .operate_num input.text25 {
    width: 25px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-right: -1px;
    text-align: center;
    font-size: 13px;
    color: #555;
}
.form_con .txt dd input.text {
    width: 180px;
    height: 26px;
    line-height: 26px;
}
.form_con .txt dd input {
    padding: 0 3px;
    border: 1px solid #d7d6d6;
    vertical-align: middle;
}
input {
    padding: 1px 0px;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
/* input {
    -webkit-writing-mode: horizontal-tb !important;
} */
.operate_num {
    height: 26px;
    line-height: 26px;
}
.operate_num s.disabled {
    border: 1px solid #e6e6e6;
    color: #999;
    background-position: 6px 2px;
    cursor: default;
}
.operate_num s.sub {
    background-position: 6px -14px;
}
.operate_num s {
    width: 8px;
    float: left;
    height: 8px;
    padding: 6px;
    margin-right: -1px;
    line-height: 20px;
    border: 1px solid #D7D6D6;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: url(../img/ticket/ico_add_sub.png) no-repeat 0 0;
    cursor: pointer;
}
.operate_num {
    height: 26px;
    line-height: 26px;
}
.operate_num s.add {
    background-position: 6px -30px;
}
.form_con .txt .price_all {
    padding: 10px 0;
    background: #eaf9de;
}
.form_con .txt dl {
    clear: both;
    width: 940px;
    padding: 5px 0;
    overflow: hidden;
}
.form_con .txt dt em {
    display: inline-block;
    width: 9px;
    color: #f70;
    text-align: left;
}
.submit_con button.submit {
    display: inline-block;
    float: left;
    padding: 0 20px;
    line-height: 38px;
    border: 0;
    border-bottom: 3px solid #ea6223;
    border-radius: 3px;
    font-family: "microsoft yahei";
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background: #ff8b00;
}
.submit_con .tip {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 10px;
    float: left;
    padding: 0 10px;
    line-height: 21px;
    border: 1px solid #ffd5a1;
    background: #fff4d9;
}
.submit_con {
    padding: 0 0 20px 140px;
    height: 65px;
    float: left;
}
.form_con .txt dd .name_pro {
    position: relative;
    padding: 15px;
    line-height: 21px;
    color: #666;
    background: #f0f0f0;
    overflow: hidden;
}